@(user: models.Tables.Users#TableElementType, followLen: Int, followerLen: Int)
@layout.default("マイページ", user.id){
    <dev>
        <p>@user.name のマイページ</p>
        <thead class="thead-light">
            <tr>
                <th>フォロー数</th>
                <th><a href="/user/@user.id/follow">@followLen</a></th>
            </tr>
            <br>
        </thead>
        <tr>
            <th>フォロワー数</th>
            <th><a href="/user/@user.id/follower">@followerLen</a></th>
        </tr>
    </dev>
}