@(user: models.Tables.Users#TableElementType, followLen: Int, followerLen: Int)
@layout.default("マイページ", user.id){
    <dev>
        <p>@user.name のマイページ</p>
        <thead class="thead-light">
            <tr>
                <th><a href="/user/@user.id/follow">フォロー数</a></th>
                <th>@followLen</th>
            </tr>
            <br>
        </thead>
        <tr>
            <th><a href="/user/@user.id/follower">フォロワー数</a></th>
            <th>@followerLen</th>
        </tr>
    </dev>
}