@(user: models.Tables.Users#TableElementType, followLen: Int, followerLen: Int)
@layout.default("ユーザーページ", user.id){
    <a>
        <dev>
            <p>@user.name のページ</p>
            <thead class="thead-light">
                <tr>
                    <th>フォロー数</th>
                    <th>@followLen</th>
                </tr>
                <br>
            </thead>
            <tr>
                <th>フォロワー数</th>
                <th>@followerLen</th>
            </tr>
        </dev>
        <a href="/userfollow/@user.id"> <input type="button" value="フォローする" onclick="history.back()"></a>
    </dev>
}