@(createPaikkaForm: Form[forms.PaikkaForm.CreatePaikkaForm])(implicit request: MessagesRequestHeader)
@import helper._
@implicitField = @{ FieldConstructor(layout.fieldConstructor.f) }

    @layout.default("パイッカ：新規登録", "パイッカ登録フォーム"){

    @form(routes.PaikkaController.createPaikka()) {

        @inputText(createPaikkaForm("name"),
            'label -> "パイッカ名",
            'class -> "form-control",
            'placeholder -> "パイッカ名",
            'value -> createPaikkaForm.data.getOrElse("name", ""),
        )

        @inputText(createPaikkaForm("kana"),
            'label -> "ふりがな",
            'class -> "form-control",
            'placeholder -> "ふりがな",
            'value -> createPaikkaForm.data.getOrElse("kana", ""),
        )

        @inputText(createPaikkaForm("tag"),
            'label -> "タグ",
            'class -> "form-control",
            'placeholder -> "例: [レストラン, 公園]",
            'value -> createPaikkaForm.data.getOrElse("tag", ""),
        )

        @inputText(createPaikkaForm("text"),
            'label -> "詳細",
            'class -> "form-control",
            'placeholder -> "パイッカの詳細",
            'value -> createPaikkaForm.data.getOrElse("text", ""),
        )

        @inputText(createPaikkaForm("postal_code"),
            'label -> "郵便番号",
            'class -> "form-control",
            'placeholder -> createPaikkaForm.data.getOrElse("postal_code", ""),
            'value -> createPaikkaForm.data.getOrElse("postal_code", ""),
            'readonly -> "",
        )

        @inputText(createPaikkaForm("address"),
            'label -> "住所",
            'class -> "form-control",
            'placeholder -> createPaikkaForm.data.getOrElse("address", ""),
            'value -> createPaikkaForm.data.getOrElse("address", ""),
            'readonly -> "",
        )
        <button type="submit" class="btn btn-primary">送信</button>

    }



}
