@(paikka: models.Tables.Paikka#TableElementType)(implicit request: RequestHeader)
@layout.default("店舗", paikka.name){

    @if(request.flash.get("message")) {
        <div class="alert alert-success" role="alert">
            @request.flash.get("message")
        </div>
    }

    @if(request.flash.get("errorMessage")) {
        <div class="alert alert-danger" role="alert">
        @request.flash.get("errorMessage")
        </div>
    }

    @kartallaform(paikka.id)
    <dev>

        <p>@paikka.text</p>
    </dev>
}
