@(userNewForm: Form[forms.UserForm.CreateForm])(implicit request: MessagesRequestHeader)
@implicitField = @{ FieldConstructor(layout.fieldConstructor.f) }
@import helper._
@default("新規登録ページ", "新規登録ページ"){

    @if(request.flash.get("errorMessage")) {
        <div class="alert alert-danger" role="alert">
        @request.flash.get("errorMessage")
        </div>
    }

    @form(routes.IndexController.createUser()) {

        @inputText(userNewForm("id"),
            'class -> "form-control",
            'placeholder -> "ユーザID",
            'value -> userNewForm.data.getOrElse("id", ""),
        )

        @inputText(userNewForm("name"),
            'class -> "form-control",
            'placeholder -> "ユーザ名",
            'value -> userNewForm.data.getOrElse("name", ""),
        )

        @inputPassword(userNewForm("password"),
            'class -> "form-control",
            'placeholder -> "パスワード",
            'value -> userNewForm.data.getOrElse("password", ""),
        )

        <button type="submit" class="btn btn-primary">送信</button>
    }
}
